html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 150px;
}

.bg-theme {
    background-color: #111E6C;
    color: #f1f1f1;
}

.read-article {
    transition: background-color 200ms;
}

.read-article:hover {
    color: #f1f1f1;
    background-color: #1d1c1c;
}

.top-bar {
    height: 70px;
}

/* .top-bar .container-fluid .row div {
    display: inline-block;
} */

.left-bar-item {
    padding: 0px;
}

.tag {
    background-color: #111E6C;
    border-radius: 6%;
    padding: 3px 4px;
    font-size: 11px;
    line-height: normal;
    transition: background-color 200ms;
}

.tag-link {
    text-decoration:none; 
    color: white;
    margin-right: 5%;
    transition: color 700ms ;
}

.tag-link:hover {
    text-decoration:none;
    color: white;
}

.tag-link:hover .tag {
    background-color: #1d1c1c;
}



.left-bar-item .sidebar-title {
    padding: 10px;
    border-left: 3px solid #111E6C;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #222222;
    padding: 6px 0px 6px 13px;
    margin-bottom: 30px;
}


.left-bar-item + .left-bar-item {
    margin-top: 30px;
}

.item {
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
}

#sidebar {
    box-shadow: 1px 2px 10px 3px #f1f1f1;
    margin-bottom: 100px;
}

#sidebar .br {
    width: 100%;
    height: 1px;
    background: #eeeeee;
    margin: 30px 0px;
}

.latest-article a {
    text-decoration: none;
    color: #414141;
    transition: color 400ms;
}

.latest-article a:hover {
    color: #111E6C;
}

.navbar {
    /* background-color: #2866c9; */
    background-color: #111E6C;
    padding: 0;
    position: sticky !important;
    top: 0;
    /* box-shadow: 3px 3px 3px 3px #f1f1f1; */
}

.navbar-nav .nav-item {
    padding: 0;
}

.navbar-nav .nav-item .nav-link {
    padding: 15px 35px;
    transition: background-color 500ms;
}

.navbar a {
    color: #ededed;
}

.navbar a:hover {
    background-color: #2828285b;
}

.owl-inner {
    width: 900px;
    height: 100%;
}

.article-small {
    width: 95%;
    margin-left: 0;
    box-shadow: 0.5px 1px 9px 1px #f1f1f1;
}

.dropdown-menu {
    z-index: 2;
    color: black;
}

.dropdown-item {
    color: #ededed;
}

/* Homepage Start */
.large-image {
    height: 100vh;
    background-size: 100% 120%; 
    background-repeat: no-repeat;
}

#sotv {
    width: 80%;
    background-size: 100% 100%;
    color: #f1f1f1;
}
#sotv > h1 {
    text-align: center;
}

#sotv > p {
    font-family: sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-top: 70px;
}
/* Homepage End */


/* About Us Page Start */
.top-phrase {
    z-index: 1;
}

.transparent-cover {
    width: 100%;
    height: 100%;
    padding: 60px;
    background-color: rgba(10, 10, 10, 0.5);
}
/* About US Page End */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #070707;
}


